
.card{
    width: 250px;
    height: 250px;
    border:3px solid var(--color3);
    border-radius: 25px;
    padding: 40px 30px;
}

@keyframes wipe-enter {
    0% {
        opacity: 0;
        transform: scale(0, .045);
    
    }

    40% {
        opacity: 0.05;
        transform: scale(1, .045);
    }

    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .card-animation {
        animation: wipe-enter 1s 1;
    }
}

.card-description{
    padding: 20px;
   
}

.card-description::before{
    content: "<h4>";
    opacity: 0.5;
    color: var(--color5);
    display: block;
    margin-left: -18px;
    font-weight: normal;
    font-size: 14px;

}

.card-description::after{

    opacity: 0.5;
    color: 1px solid #230c3340;
    display: block;
    margin-left: -18px;
    font-weight: normal;
    font-size: 14px;
    content: "</h4>";
}


.description{
    opacity: 0.3;
    border-left: 1px solid var(--color5);
    padding: 20px;
}

