<header class="master-head">
  <div #masterHead class="header-wrap">
    <div class="header-warp-inner">
      <div class="left-part">

        <h2 #head>Fontao Alejo</h2>
      </div>
      <div class="right-part" *ngIf="!screenSize">
        <nav #head class="nav-menu">
          <ul #head class="nav-menu-options">
            <li>
              <a href="" #head>
                <section class="underline" #head>//Aptitudes</section>
              </a>
            </li>
            <li>
              <a href="">
                <section class="underline">//Certificados</section>
              </a>
            </li>
            <li>
              <a href="">
                <section class="underline">//Educación</section>
              </a>
            </li>
            <li>
              <a href="">
                <section class="underline">//Proyectos</section>
              </a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>

</header>

<section id="presentation">
  <h1>&lt;h1&gt; {{typewriter_display }} <p>{{typewriter_display_dot}}</p> &lt;/h1&gt;
    <svg class="shape" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <clipPath id="a">
          <path fill="currentColor"
            d="M910 664.5q-81 164.5-245.5 240t-295-34Q239 761 162 630.5T150.5 358Q216 216 358 184.5t248 36Q712 288 851.5 394T910 664.5Z" />
        </clipPath>
      </defs>
      <g clip-path="url(#a)">
        <path fill="none" stroke="#084c61" stroke-width="20"
          d="M910 664.5q-81 164.5-245.5 240t-295-34Q239 761 162 630.5T150.5 358Q216 216 358 184.5t248 36Q712 288 851.5 394T910 664.5Z" />
      </g>
    </svg>
    <svg class="shape" style="width: 200px" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <clipPath id="a">
          <path fill="currentColor"
            d="M910 664.5q-81 164.5-245.5 240t-295-34Q239 761 162 630.5T150.5 358Q216 216 358 184.5t248 36Q712 288 851.5 394T910 664.5Z" />
        </clipPath>
      </defs>
      <g clip-path="url(#a)">
        <path fill="#084c61"
          d="M910 664.5q-81 164.5-245.5 240t-295-34Q239 761 162 630.5T150.5 358Q216 216 358 184.5t248 36Q712 288 851.5 394T910 664.5Z" />
      </g>
    </svg>
  </h1>

  <h5>Estudiante, Ing. En Sistemas

  </h5>


  <div class="shape-img shape-img-position">
    <img src="./assets/profile.png">

  </div>
  <div class="shape-cover-img shape-img-position">
    <img src="./assets/borderProfileImg.png">

  </div>
  <div class="shape-cover-social linkedin">

    <a href="https://www.linkedin.com/in/alejo-fontao-998840219/"> <img src="./assets/linkedinBlob.png"></a>
  </div>
  <div class="shape-cover-social gitHub">

    <a href="https://github.com/AleFontao"><img src="./assets/gitHubBlob.png"></a>
  </div>
  <div class="shape-cover-social instagram">

    <a href="https://www.instagram.com/alefontao/?hl=es"><img src="./assets/instagramBlob.png"></a>
  </div>

</section>

<section id="aptitudes">
  <h1 class="heading-title">Mis Aptitudes</h1>
  <div class="container-aptitudes">
    <app-aptitude-card *ngFor="let aptitud of aptitudes" [aptitud]="aptitud"></app-aptitude-card>
  </div>
</section>

<section id="certifications">
  <h1 class="heading-title">Mis Certificados</h1>
  <div class="container-certifications">
    <app-certification-card *ngFor="let certificate of certifications"
      [certificate]="certificate"></app-certification-card>
  </div>
</section>

<section id="proyectos">
  <h1 class="heading-title">Mis Proyectos</h1>
  <app-project-card *ngFor="let project of projects" [project]="project"></app-project-card>


</section>