.nav {
    height: 200px;
    width: 100%;

}

.header-wrap {
    position: relative;
    z-index: 1;
    height: 100px;
    transition: all 1s;
}

.left-part {
    color: var(--color3);
    display: flex;
    align-items: center;
}

.right-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-warp-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-menu {
    position: relative;
    z-index: 10;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-menu-options {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.nav-menu-options {
    list-style-type: none;
}

.nav-menu-options li a {
    text-decoration: none;
    color: var(--color4)
}

.underline {
    padding: 0 0.2em 0 0.5em;
    box-shadow: inset 0 -0.3em var(--color3);
}

.nav-menu-options li a:hover>.underline {
    box-shadow: inset 0 -0.4em var(--color4);
    transition: 0.5s;
}

#presentation {
    width: 100%;
    height: 1000px;
    color: var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: var(--color2);
    font-size: 50px;
    background: var(--color2);
    position: relative;
}

#presentation h5 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

#presentation h1 {
    font-size: 5.5vw;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    z-index: 2;
    position: relative;
    //text-shadow: 10px -10px 40px rgba(255, 255, 255, 0.288)
}

#aptitudes {
    min-height: 1000px;
    width: 100%;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;


}

.container-aptitudes {
    height: auto;
    min-height: 600px;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
}

.hamburguer-menu {
    position: fixed;
    top: 35px;
    left: 50px;
}

.sidenav-menu {
    position: fixed;
    width: calc(100% - 100px);
    text-align: left;
    overflow-y: auto;
    top: 0px;
    left: 0px;
}

.card-wrapper {
    width: 250px;
    height: 250px;

}

.card {
    width: 250px;
    height: 250px;
    border: 3px solid var(--color3);
    border-radius: 25px;
}

#certifications {
    height: auto;
    min-height: 1200px;
    width: 100%;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-certifications {
    margin: 150px 0px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
}

.fixed {
    position: fixed;
    width: 100%;
    background-color: #ffff;
    transition: all 1s;
}

.alternate-scroll {
    color: #262626 !important;
}


@media(max-width: 1000px) {
    .heading-title {
        margin: 65px 0px;
        font-size: 50px;
    }

    #aptitudes {
        justify-content: flex-start;
        min-height: 130px !important;
    }

    .shape {
        position: absolute;
        top: 180px !important;
        width: 300px;
        left: 92px !important;
        z-index: 0;
        opacity: 0.4;
    }



    .shape-cover-img {
        position: absolute;
        top: 20px;
        width: 300px;
        left: -12px;
    }

    .shape-cover-img:hover+.text-img {
        opacity: 0;
        transition: 1s;
    }

    .shape-img-position {
        position: absolute;
        top: 20px !important;
        width: 300px;
        left: -12px !important;
        z-index: 0;
    }

    .text-img {
        opacity: 1;
        position: absolute;
        top: 162px !important;
        width: 300px;
        left: 248px !important;
        z-index: 0;
        font-size: 15px !important;
        transition: .5s;
    }


    .linkedin {
        top: 150px !important;
        left: 260px !important;
        width: 102px !important;
    }

    .instagram {

        left: 200px !important;
        width: 102px !important;
    }

}

@media(max-width: 500px) {

    h1>p {
        opacity: 0.6 !important;
        font-size: 4.8vw !important;
        top: 0.3vh !important;
        right: 18vw !important;
    }

}



.shape {
    position: absolute;
    top: -70px;
    width: 300px;
    right: 0px;
    z-index: -1;
    opacity: 0.4;
}


.shape-img-position {
    position: absolute;
    top: 110px;
    width: 300px;
    left: 23px;
    z-index: 0;
}

.shape-cover-social {
    position: absolute;
    width: 90px;
    z-index: 0;
}

.gitHub {
    top: 50px;
    left: 260px;
    cursor: pointer;
}

.linkedin {
    top: 130px;
    left: 340px;
    width: 102px !important;
    cursor: pointer;
}

.instagram {
    top: 250px;
    left: 320px;
    width: 102px !important;
    cursor: pointer;
}



img {
    max-width: 100%;
    max-height: 100%;
}

.shape-cover-img:hover+.text-img {
    opacity: 1;
    transition: 1s;
}

.text-img {
    opacity: 0;
    position: absolute;
    top: 246px;
    width: 300px;
    left: 286px;
    z-index: 0;
    font-size: 20px;
    transition: 0.5s;
}

#proyectos {
    height: auto;
    min-height: 2000px;
    width: 100%;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;


}

h1>p {
    opacity: 0.4;
    font-weight: 1;
    font-size: 4.8vw;
    position: absolute;
    top: 0.9vh;
    right: 16vw;
}