<header class="master-head">
  <div class="header-wrap">
    <div class="header-warp-inner">
      <div class="left-part">
        <h2>Fontao Alejo</h2>
      </div>
      <div class="right-part">
        <nav class="nav-menu">
          <ul class="nav-menu-options">
            <li>
              <a href="">
                <section class="underline">//Opcion 3</section>
              </a>
            </li>
            <li>
              <a href="">
                <section class="underline">//Opcion 3</section>
              </a>
            </li>
            <li>
              <a href="">
                <section class="underline">//Opcion 3</section>
              </a>
            </li>
            <li>
              <a href="">
                <section class="underline">//Opcion 3</section>
              </a>
            </li>
            <li>
              <a href="">
                <section class="underline">//Opcion 3</section>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<section id="presentation">
  <h1>Alejo Fontao</h1>
  <h5>Estudiante, Ing. En Sistemas</h5>
</section>

<section id="aptitudes">
  
</section>